@model Language

@{
    ViewData["Title"] = "Create";
}

<h4>Create Form</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" value="" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Family" class="control-label"></label>
                    <input asp-for="Family" class="form-control" />
                    <span asp-validation-for="Family" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TypingDiscipline" class="control-label"></label>
                <input asp-for="TypingDiscipline" class="form-control" />
                <span asp-validation-for="TypingDiscipline" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Extensions" class="control-label"></label>
                <input asp-for="Extensions" class="form-control" />
                <span asp-validation-for="Extensions" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary btn-block m-lg-1" id="create"/>
                </div>
                <div  class="form-group col-md-6">
                    <a asp-action="Index"  class="btn btn-secondary btn-block m-lg-1">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}