﻿@model IEnumerable<Language>

@{
    ViewData["Title"] = "Programming Languages";
}

<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Family)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.TypingDiscipline)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Extensions)
        </th>
        <th>
            <a asp-action="Create" class="btn btn-outline-success">&ensp;Add&ensp;&nbsp;</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var lang in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => lang.Name)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => lang.Year)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => lang.Family)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => lang.TypingDiscipline)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => lang.Extensions)
            </td>            
            <td>
                <a asp-action="Update" asp-route-id="@lang.Id" class="btn btn-outline-primary">Update</a>
                <a asp-action="Delete" asp-route-id="@lang.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete&nbsp;</a>
            </td>
        </tr>
    }
    </tbody>
</table>